<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.center.mapper.ScheduleJobMapper">
	<resultMap id="BaseResultMap" type="cn.center.pojo.ScheduleJob">
		<id column="job_id" property="jobId" jdbcType="BIGINT" />
		<result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
		<result column="job_name" property="jobName" jdbcType="VARCHAR" />
		<result column="bean_name" property="beanName" jdbcType="VARCHAR" />
		<result column="method_name" property="methodName" jdbcType="VARCHAR" />
		<result column="method_params" property="methodParams" jdbcType="VARCHAR" />
		<result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
</mapper>